.page-content {
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    margin: 7.5% 3%;
    padding: 0 2rem;
    width: 100%;
    .buttons {
        display: flex;
        justify-content: space-between;
        width: 33rem;
        padding: 1rem;
    }
}