.page-content {
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    padding: 0 2rem;
    width: 100%;
    padding-left: 5rem;
    .buttons {
        display: flex;
        justify-content: space-between;
        width: 33rem;
        padding: 1rem;
    }
}